<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light -top" role="navigation">
        <div class="container">
            {% if page.categories.first != 'home' %}
                <a class="navbar-brand" href="{{ site.baseurl }}/">CSMS Lab</a>
            {% endif %}
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    {% if page.categories.first == 'research' %}
                        <li class="nav-item active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                            <a class="nav-link" href="{{ site.baseurl }}/research">Research</a>
                        </li>
                    {% if page.categories.first == 'team' %}
                        <li class="nav-item active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                            <a class="nav-link" href="{{ site.baseurl }}/team">Team</a>
                        </li>
                    {% if page.categories.first == 'papers' %}
                        <li class="nav-item active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                            <a class="nav-link" href="{{ site.baseurl }}/papers">Papers</a>
                        </li>
                    {% if page.categories.first == 'blog' %}
                        <li class="nav-item active">
                    {% else %}
                        <li class="nav-item">
                    {% endif %}
                            <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                        </li>

                    <!-- "More" dropdown -->
                    {% if page.categories.first == 'teaching' %}
                        <li class="nav-item dropdown active">
                    {% else %}
                        <li class="nav-item dropdown">
                    {% endif %}
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ site.baseurl }}/teaching">Teaching</a>
                            <a class="dropdown-item" href="{{ site.github }}">Code</a>
                        </div>
                    </li>
                    <!-- dropdown done-->
                </ul>
            </div>
        </div>
    </nav>
</div>
