---
layout: default
title: CSMS Lab - Publications
categories:
- papers
---

{% assign paperindex = 0 %}
{% for paper in site.categories.papers %}
	{% assign paperindex = paperindex | plus: 1 %}
	{% assign columnindex = paperindex | modulo: 3 %}
	{% if columnindex == 1 %}
		<!-- open a new row -->
		<div class="row">
	{% endif %}
	<div class="col-md-4 paperbox">
		<div class="media">
			{% if paper.image %}
				<a class="pull-right" href="{{ paper.url | relative_url }}">
					<img width=100 class="media-object" src="{{ site.baseurl }}{{ paper.image }}">
				</a>
			{% endif %}
			<div class="media-body">
				<div class="smallhead media-heading"><a href="{{ paper.url | relative_url }}" class="off">{{ paper.title }}</a></div>
				<p class="note">{{ paper.ref }}</p>
			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="spacer"></div>
	</div>
	{% if columnindex == 0 %}
		</div>
	{% endif %}
{% endfor %}
{% if columnindex != 0 %}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-12">
		<div id="scroll" class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="{{ page.url | relative_url }}">
						<i class="fa fa-chevron-up fa-fw"></i> Back to top
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
