<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- RSS feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
	<!-- Stylesheet -->
	<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" media="screen">
	{% include slider_styles.html %}
	<!-- Favicon -->
	<!--<link rel="shortcut icon" href="/images/favicon.png"/>-->
	<!-- jQuery -->
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="{{ site.baseurl}}/js/bootstrap.min.js"></script>

</head>

<body>

	{% include csms_navbar.html %}

	<div class="container body-container">
		{{ content }}
	</div>

	{% include slider_scripts.html %}

</body>

</html>
