---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">

			{% if page.team %}
				<div class="smallhead">
					Team member(s)
				</div>
				{% for researcher in page.team %}
					<div class="pad-left note">
						<div class="smallspacer"></div>
						<i class="fa fa-user"></i>
						{% assign printed = false %}
					{% for member in site.categories.team %}
						{% if member.title == researcher %}
							<a class="off" href="{{ member.url }}">{{ researcher }}</a>
							{% assign printed = true %}
						{% endif %}
					{% endfor %}
						{% unless printed %}
							{{ researcher }}
						{% endunless %}
					</div>
				{% endfor %}
				<div class="bigspacer"></div>
			{% endif %}

			{% if page.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-github-alt fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/' | remove: 'https://github.com/' }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% for paper in site.categories.papers %}
			{% if paper.project == page.project %}
			{% assign papersq = true %}
			{% endif %}
			{% endfor %}

			{% if papersq %}
				<div class="smallhead">
					Publications
				</div>
				{% assign check=0 %}
				{% for paper in site.categories.papers %}
					{% if paper.project == page.project %}
						<div class="pad-left note">
							<div class="smallspacer"></div>
							<i class="fa fa-file-text-o fa-fw"></i>
							<a class="off" href="{{ paper.url }}">{{ paper.title }}</a>
							<div class="smallspacer"></div>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}

		</div>
	</div>
	<div class="col-md-9">
		<div class="post">
			{{ content }}
		</div>
	</div>
</div>
<div class="bigspacer"></div>
